<ion-header>
  <ion-toolbar>
    <ion-title>myList</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let livro of userBookList">
    <ion-card class="ion-activated">
      <div (click)="goToBook(livro)">
        <ion-card-header>
          <ion-card-title>{{ livro.nome }}</ion-card-title>

          <ion-card-subtitle
            >{{ livro.autor }} publicado em {{ livro.dataPublicada.toDate() |
            date: "dd/MM/yyyy" }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-img id="imagem" src="{{ livro.img }}"></ion-img>
        <ion-card-content> {{ livro.descricao }} </ion-card-content>
      </div>
      <ion-button
        color="danger"
        style="float: right"
        float="right"
        size="small"
        fill="outline"
        (click)="removeBookFromList(livro)"
        >Remove from my list</ion-button
      >
    </ion-card>
  </div>
</ion-content>
