<ion-content>
  <div class="heading">
    <h1>Sign Up</h1>
    <p>Please signup to enter into app.</p>
  </div>
  <div class="social-login">
    <p>Enter via social network</p>
    <div class="links">
      <ion-button class="twitter" routerLink="/thank-you">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button class="facebook" routerLink="/thank-you">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!--Form group de registar com costum async email validator-->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
    <div class="email-input" appearance="fill">
      <mat-form-field class="ion-padding">
        <mat-label>Enter your email</mat-label>
        <input
          type="email"
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="formGroup.controls.email.invalid">
          <div *ngIf="formGroup.controls.email.errors?.required">
            Email is required.
          </div>
          <div *ngIf="formGroup.controls.email.errors?.email">
            Invalid Email.
          </div>
          <div *ngIf="formGroup.controls.email.errors?.emailExists">
            Email exists
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ion-padding">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput formControlName="password" required />
        <mat-error *ngIf="formGroup.controls.password.invalid">
          <div *ngIf="formGroup.controls.password.errors?.required">
            Password is required
          </div>
          <div *ngIf="formGroup.controls.password.errors?.minlength">
            Password has to be 6 digits minimum
          </div>
        </mat-error>
      </mat-form-field>

      <!-- mat-input nao é compativel com checkboxes, entao o work around disto para 
        associar o a mensagem de erro do mat-error com o formControl da ionic checkbox foi
        criar o mat-label e o ion-checkbox a seguir, associar o checkbox ao formControl,
        de seguida colocar abaixo o mat-error e fazer os ifs com os controlers da checkbox
        como isto tudo nao esta dentro de um mat-form-field temos que editar o estilo
        do mat error de forma a manualmente colocar devidamente alinhado com a checkbox
        de forma a simular tudo como se fosse um mat-form-field com um input tipo string
        (os mat inputs so funcionam com strings), isto foi trabalho de 1 dia inteiro
        !-->
      <mat-label class="ion-padding">I agree with privacy policy</mat-label>
      <ion-checkbox
        type="checkbox"
        formControlName="agreePolicy"></ion-checkbox>
      <mat-error
        style="padding-left: 15px"
        *ngIf="formGroup.controls.agreePolicy.errors?.required &&formGroup.controls.agreePolicy.touched">
        You must agree to the privacy policy</mat-error>
      <div class="login-button">
        <ion-button class="login" type="submit">Login</ion-button>
        <p>Already have an account? <span routerLink="/login">Signup</span></p>
      </div>
    </div>
  </form>
</ion-content>
