<ion-content>
  <div class="heading">
    <h1>Login Now</h1>
    <p>Please login to continue using our app.</p>
  </div>
  <div class="social-login">
    <p>Enter via social network</p>
    <div class="links">
      <ion-button class="twitter" routerLink="/thank-you">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button class="facebook" routerLink="/thank-you">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!--Forms com controlo in real time da existencia do mail  com costum email-validator -->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
    <div class="email-input" appearance="fill">
      <mat-form-field class="ion-padding">
        <mat-label>Enter your email</mat-label>
        <input
          type="email"
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="formGroup.controls.email.invalid">
          <div *ngIf="formGroup.controls.email.errors?.required">
            Email is required.
          </div>
          <div *ngIf="formGroup.controls.email.errors?.email">
            Invalid Email.
          </div>
          <div *ngIf="formGroup.controls.email.errors?.emailExists">
            Email doesn't exist.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ion-padding">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput formControlName="password" required />
        <mat-error *ngIf="formGroup.controls.password.invalid">
          <div *ngIf="formGroup.controls.password.errors?.required">
            Password is required
          </div>
          <div *ngIf="formGroup.controls.password.errors?.minlength">
            Password has to be 6 digits minimum
          </div>
        </mat-error>
      </mat-form-field>

      <div class="other-links">
        <div class="remember-me">
          <ion-checkbox formControlName="rememberMe"></ion-checkbox>
          <p>Remember me</p>
        </div>
        <p class="forgot">Forgot password?</p>
      </div>

      <div class="login-button">
        <ion-button class="login" type="submit">Login</ion-button>
        <p>Don't have an account? <span routerLink="/signup">Signup</span></p>
      </div>
    </div>
  </form>
</ion-content>
