<ion-header>
  <!-- Toolbar parte cima-->
  <ion-toolbar>
    <ion-buttons slot="primary" (click)="logout()">
      <ion-button
        ><ion-icon size="large" name="log-out-outline"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
  <app-top-nav-bar
    (OUTPUT_searchBarActive_TopNavBar)="functionSearchBarUpdate_MainPage($event)"
  ></app-top-nav-bar>
</ion-header>

<ion-content>
  <app-results-search-bar
    [INPUT_searchBarUserInput_ResultsSearchBar]="OUTPUT_searchBarUserInput_MainPage"
  >
  </app-results-search-bar>
</ion-content>

<app-footer-nav-bar></app-footer-nav-bar>
<!-- Tabs de baixo-->
